[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "sam build"
deploy = "sam deploy"
test = "pytest --cov --cov-branch --cov-report=term-missing tests/unit/"
test-report = "pytest --cov --cov-branch --cov-report=term-missing --cov-report=xml tests/unit/"
test-integration = "pytest --cov --cov-branch --cov-report=term-missing"
convert-docs = "sphinx-apidoc -f -o docs-src/ src/"
build-docs = "sphinx-build -b html docs-src/ docs/"

[packages]
boto3 = "~=1.19"

[dev-packages]
boto3 = "~=1.19"
pytest = "~=7.2.0"
pytest-mock = "~=3.6.1"
requests = "~=2.26.0"
pytest-cov = "~=4.0.0"
moto = "~=2.2.11"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.9"
