[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
build = "sam build"
deploy = "sam deploy"
test = "pytest --cov --cov-branch --cov-report=term-missing tests/unit/"
test-report = "pytest --cov --cov-branch --cov-report=term-missing --cov-report=xml tests/unit/"
test-integration = "pytest --cov --cov-branch --cov-report=term-missing"
convert-docs = "sphinx-apidoc -f -o docs-src/ src/"
build-docs = "sphinx-build -b html docs-src/ docs/"

[packages]
boto3 = "~=1.19"

[dev-packages]
boto3 = "~=1.26"
pyyaml = ">=6.0.3"
pytest = ">=9.0"
pytest-mock = ">=3.14"
requests = "~=2.32.5"
pytest-cov = "~=4.0.0"
moto = "~=4.0.0"
sphinx = "*"
sphinx-rtd-theme = "*"
pyopenssl = "~=25.3.0"
aws-sam-cli = "~=1.151.0"

[requires]
python_version = "3.14"
